name: Code quality checks

on:
  workflow_call:
  push:
    branches: [ main, 0.x ]

jobs:
  check-code:
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v3
    
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: '1.18.0'
    
    - name: Install goling
      run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.50.1
    
    - name: Install gocyclo
      run: go install github.com/fzipp/gocyclo/cmd/gocyclo@latest

    - name: Install goimports 
      run: go install golang.org/x/tools/cmd/goimports@latest

    - name: Run pre-commit checks
      uses: pre-commit/action@v3.0.0
