name: Code quality checks

on:
  workflow_call:
    inputs:
      branch:
        required: false
        type: string
  push:
    branches: [ main, 1.x ]

jobs:
  check-code:
    runs-on: ubuntu-latest
    env:
      GOFLAGS: -mod=mod
    steps:
    - name: Check out code
      uses: actions/checkout@v6
      with:
        ref: ${{ inputs.branch }}

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.x'

    - name: Download Go modules
      run: go mod download

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - name: Install golangci-lint
      run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

    - name: Install gocyclo
      run: go install github.com/fzipp/gocyclo/cmd/gocyclo@latest

    - name: Install goimports
      run: go install golang.org/x/tools/cmd/goimports@v0.38.0

    - name: Install pre-commit
      run: pip install pre-commit==3.7.1

    - name: Run pre-commit checks
      run: pre-commit run --all-files

    - name: Run race condition tests
      run: |
        go test ./... -race -timeout=10s -v --tags=race
