name: Integration tests

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      FIREBOLT_CLIENT_ID_STG_NEW_IDN:
        required: false
      FIREBOLT_CLIENT_SECRET_STG_NEW_IDN:
        required: false
      FIREBOLT_PROD_USERNAME:
        required: false
      FIREBOLT_PROD_PASSWORD:
        required: false
      SERVICE_ID_STG:
        required: false
      SERVICE_SECRET_STG:
        required: false
      FIREBOLT_CORE_DEV_CERT_PRIVATE_KEY:
        required: true
      FIREBOLT_CORE_DEV_CERT:
        required: true

jobs:
  integration-tests-v1:
    uses: ./.github/workflows/integration-tests-v1.yml
    secrets:
        FIREBOLT_PROD_USERNAME: ${{ secrets.FIREBOLT_PROD_USERNAME }}
        FIREBOLT_PROD_PASSWORD: ${{ secrets.FIREBOLT_PROD_PASSWORD }}
        SERVICE_ID_STG: ${{ secrets.SERVICE_ID_STG }}
        SERVICE_SECRET_STG: ${{ secrets.SERVICE_SECRET_STG }}

  integration-tests-v2:
    uses: ./.github/workflows/integration-tests-v2.yml
    secrets:
        FIREBOLT_CLIENT_ID_STG_NEW_IDN: ${{ secrets.FIREBOLT_CLIENT_ID_STG_NEW_IDN }}
        FIREBOLT_CLIENT_SECRET_STG_NEW_IDN: ${{ secrets.FIREBOLT_CLIENT_SECRET_STG_NEW_IDN }}
  integration-tests-core:
    uses: ./.github/workflows/integration-test-core.yml
    secrets: inherit