name: Integration tests V1

on:
  workflow_dispatch:
  workflow_call:
    secrets:
      FIREBOLT_PROD_USERNAME:
        required: false
      FIREBOLT_PROD_PASSWORD:
        required: false
      SERVICE_ID_STG:
        required: false
      SERVICE_SECRET_STG:
        required: false

jobs:
  integration-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.19.0'

      - name: Setup database and engine
        id: setup
        uses: firebolt-db/integration-testing-setup@v1
        with:
          firebolt-username: ${{ secrets.FIREBOLT_PROD_USERNAME }}
          firebolt-password: ${{ secrets.FIREBOLT_PROD_PASSWORD }}
          api-endpoint: "api.app.firebolt.io"
          region: "us-east-1"
          instance-type: "B2"

      - name: Run integration tests
        env:
          USER_NAME: ${{ secrets.FIREBOLT_PROD_USERNAME }}
          PASSWORD: ${{ secrets.FIREBOLT_PROD_PASSWORD }}
          DATABASE_NAME: ${{ steps.setup.outputs.database_name }}
          ENGINE_NAME: ${{ steps.setup.outputs.engine_name }}
          ENGINE_URL: ${{ steps.setup.outputs.engine_url }}
          STOPPED_ENGINE_NAME: ${{ steps.setup.outputs.stopped_engine_name }}
          STOPPED_ENGINE_URL: ${{ steps.setup.outputs.stopped_engine_url }}
          FIREBOLT_ENDPOINT: "api.app.firebolt.io"
          ACCOUNT_NAME: "firebolt"
          SERVICE_ACCOUNT_CLIENT_ID: ${{ secrets.SERVICE_ID_STG }}
          SERVICE_ACCOUNT_CLIENT_SECRET: ${{ secrets.SERVICE_SECRET_STG }}
          LONG_TEST_VALUE: ${{ vars.LONG_TEST_VALUE_V0 }}
        run: |
          go test ./... -timeout=30m -v --tags=integration_v0
