name: Pull request

on:
  pull_request:
    branches: [ main, 1.x ]

jobs:
  check-title:
    runs-on: ubuntu-latest
    steps:
      - name: Check title name convention
        uses: jef/conventional-commits-pr-action@v1.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  code-checkers:
    uses: ./.github/workflows/code-check.yml
